<div class="largecontainer">
	<div class="row">
		<div class="col s4 m6 l6">
			<div class="row">
				<form action="">
					<h1>ENDPOINT DIFFING</h1>
				</form>
			</div>
		</div>
		<div class="col s8 m6 l6">
			<div class="input-field col s12">
				<ul materialize="collapsible" data-collapsible="accordion">
					<li>
					<div class="collapsible-header">Diff Help</div>
						<div class="collapsible-body">
							<blockquote>
								<p class="flowtext">
									Use "Time Delta" as a modifier for time crunching, for instance, supply a start date and
									time and pass in "5" as a delta to get a wrinkle time (-5m/+5m).
								</p>
							</blockquote>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>