<div class="nh-config">
	<div class="container">
		<div class="row">
			<div class="col s12 center-align">
				<button class="btn waves-effect waves-light" routerLink="sysconfig">System Config
					<i class="material-icons right">lock_outline</i>
				</button>
				<button class="btn waves-effect waves-light" routerLink="platformstats">Platform Stats
					<i class="material-icons right">assessment</i>
				</button>
				<button class="btn waves-effect waves-light" routerLink="job">Upload Tracking
					<i class="material-icons right">question_answer</i>
				</button>
			</div>
		</div>
	</div>
</div>