<!DOCTYPE html>
{% load staticfiles %}
{% include 'cssbase.html' %}
{% include 'scripts.html' %}
{% load staticfiles %}

{% block css %}{% endblock %}
{% block scripts %}{% endblock %}

<!-- 
  1. set header pixel high consistent
  2. treecol 100% height
  3. navbar absolute login/logo - list position margin 0 auto
  4. padding minus header hight
  5. 100% container hight
 -->

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="brsapp"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>nightHawk: Forensic Framework</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>
<body>
	<div id="fullsize">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <div class="notifications">

            </div>
            <header>
              <nav class="navbar navbar-default">

                <div class="navbar-header">
                 <a class="navbar-brand large" href="/"><b>{{name}}</b>: <span class="function">Response </span> {{version}}</a>
               </div>
               <div class="navbar-center">
                 <ul>
                  <li>
                      <button type="button" title="Collapse Root Tree" class="btn btn-default btn-sm" id="menuhide">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                      </button>
                  </li>
                  <li>
                      <button type="button" onclick="location.href='{% url 'home_search' %}'" title="Global Search" class="btn btn-default btn-sm" id="menuhide">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                      </button>
                  </li>
                  <li>
                      <button type="button" onclick="location.href='{% url 'timeline' %}'" title="Timeline" class="btn btn-default btn-sm" id="menuhide">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                      </button>
                  </li>
                  <li>
                      <button type="button" onclick="location.href='{% url 'stack_framework' %}'" title="Stacking Framework" class="btn btn-default btn-sm" id="menuhide">
                        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                      </button>
                  </li>
                  <li>
                      <button type="button" onclick="location.href='#Comment'" title="Comments and Tags" class="btn btn-default btn-sm" id="menuhide">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                      </button>
                  </li>
                  <li>
                      <button type="button" onclick="location.href='#UploadFile'" title="Upload and Delete" class="btn btn-default btn-sm" id="menuhide">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                      </button>
                  </li>
                  <li>
                      <button type="button" onclick="location.href='#PlatformStats'" title="Platform Status" class="btn btn-default btn-sm" id="menuhide">
                        <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                      </button>
                  </li>
                </ul>
              </div>
              <div class="navbar-right">
                <a href="/admin/" class="navbar-brand small">Logged in as: <span style="color: #F7973D">{{user}}</span></a>
              </div>
            </nav>
          </header>
          <div class="maincontainer">
            <div class="col-md-2 treecol">

              <div id="jstree">

            </div>
          </div>
          <div class="col-md-10 maincol">
           <div ng-view></div>
         </div>
       </div>
     </div>
   </body>
   </html>
    <script>
function WebSocketComment()
{
  if ("WebSocket" in window)
  {
   console.log("WebSocket is supported by your Browser!");

           var ws = new WebSocket("ws://" + window.location.host + "/ws/comments?subscribe-broadcast");
           var heartbeat_msg = '--heartbeat--', heartbeat_interval = null, missed_heartbeats = 0;

           ws.onopen = function()
           {
              console.log("[!] WebSocket handshake complete, inside secure socket");
              if (heartbeat_interval === null) {
                missed_heartbeats = 0;
                heartbeat_interval = setInterval(function() {
                    try {
                        missed_heartbeats++;
                        if (missed_heartbeats >= 3)
                            throw new Error("Too many missed heartbeats.");
                        ws.send(heartbeat_msg);
                    } catch(e) {
                        clearInterval(heartbeat_interval);
                        heartbeat_interval = null;
                        console.warn("Closing connection. Reason: " + e.message);
                        ws.close();
                    }
                }, 5000);
              }
          };

          ws.onmessage = function (evt) 
          { 

             var received_msg = evt.data;
             if (evt.data === heartbeat_msg) {
               missed_heartbeats = 0;
               return;
           }

        comment_alert = JSON.parse(received_msg);
        
        if ($('.case_name').attr('id') === comment_alert.case) {
            $('.notifications').html(
                "<span class='comment' style='color:red'>Alert: </span>New Comment !<br>" + 
                "<span class='comment'>Case: </span>" + comment_alert.case + "<br>" +
                "<span class='comment'>Endpoint: </span>" + comment_alert.endpoint + "<br>" +
                "<span class='comment'>Analyst: </span>" + comment_alert.analyst + "<br>" +
                "<span class='comment'>Comment: </span>" + comment_alert.comment + "<br>"  
                )

            $(".notifications").css("top", -$(".notifications").height());
            
            $(".notifications").animate({top: 0}, 200);
            
            setTimeout(function(){
                $(".notifications").animate({top: -200}, 200);
            }, 20000)            
        }
    };
    ws.onerror = function(evt) {
       console.log('Error: '+evt);
   }
   ws.onclose = function(evt)
   { 
              console.log("Connection is closed: "+evt.code); 
          };
      }

      else
      {
           console.log("WebSocket NOT supported by your Browser!");
       }
   }

   WebSocketComment(); 

    function isInArray(value, array) {
        return array.indexOf(value) > -1;
    };

	$('#jstree').jstree({
	    'core' : {
	        'data' : {
	            'url' : function (node) {
                    if (node.parent == null){
                        return "{% url 'load_cases' %}"
                    } else if (node.parent == 'current_inv'){
                        return "{% url 'load_cases' %}"
                    } else {
                        return "{% url 'load_cases_audit' %}"
                    }

                },
	            'contentType': "application/json; charset=utf-8",
			    'data': function (data) {
			    	return { "id": data.id, "parent": data.parent, "text": data.text }
			      }
	        },
            'themes': {
                'name': 'default-dark'
            }
	    },
      'types': {
            'root': {
              'icon': 'glyphicon glyphicon-expand'
            },
            'endpoint': {
              'icon': 'glyphicon glyphicon-blackboard'
            },
            'case': {
              'icon': 'glyphicon glyphicon-leaf'
            },
            'audit': {
              'icon': 'glyphicon glyphicon-log-in'
            }
          },
    	"checkbox" : {
    		"keep_selected_style" : false
    	},
    	"plugins" : ["sort", "types"]
	})
.on('open_node.jstree', function (e, data) { data.instance.set_icon(data.node, "glyphicon glyphicon-minus")});

	$("#jstree").bind("select_node.jstree", function (event, data) {
		 event.preventDefault()
	     var parent = data.node.parent
         var href = data.node.a_attr.id.split("_")[0] + '/' + data.node.parents[1] + '/' + data.node.parent
	     document.location.href = "#" + href
	});

    var toggle = [];

    $("#menuhide").click(function(){
        if (!isInArray('on', toggle)) {
            $(".treecol").slideToggle('fast', function(){
                $(".maincol").toggleClass('maincolexpand')
                toggle.push('on');
            })
        }
        else {
            $(".maincol").toggleClass('maincolexpand', function(){
                $(".treecol").slideToggle('fast');
                toggle.splice(0, 1)
            });
        }
    })

	$("button[title]").qtip({
		style: {
			classes: 'qtip-tipsy'
		}
	});

    </script>
