{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/brsapp.css' %}">
<link rel="stylesheet" href="{% static 'core/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'core/ngDialog.css' %}">
<link rel="stylesheet" href="{% static 'core/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'core/jquery.qtip.min.css' %}">
<link rel="stylesheet" href="{% static 'core/ngDialog-theme-default.css' %}">
<link rel="stylesheet" href="{% static 'core/themes/default-dark/style.min.css' %}">
<link rel="stylesheet" href="{% static 'core/angular-datatables.css' %}">
<link rel="stylesheet" href="{% static 'core/datatables.bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'core/vendor/datatables-buttons/css/buttons.dataTables.css' %}">
<link rel="stylesheet" href="{% static 'core/vendor/datatables-colreorder/css/dataTables.colReorder.css' %}">
<link rel="stylesheet" href="{% static 'core/json-formatter.css' %}">
{% endblock %}