<body>
  <div class="platform_stats">
    <div class="row">
      <div class="col-md-3">
       <div class="cpu_stats">
          <div style="color: #F7973D">
            <b>CPU(s)</b>
          </div>
        <table class="stats table-striped">
          <thead>
            <tr>
              <th>CPU:</th>
              <th>User:</th>
              <th>Sys:</th>
              <th>Idle:</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>    
      </div>
      <div class="col-md-3">
      <div class="memstats_stats">
          <div style="color: #F7973D">
            <b>Memory</b>
          </div>
        <table class="stats table-striped">
          <thead>
            <tr>
              <th>Available:</th>
              <th>Total:</th>
              <th>Used:</th>
              <th>Free:</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    <br>
      <div class="disk_stats">
          <div style="color: #F7973D">
            <b>Disk</b>
          </div>
        <table class="stats table-striped">
          <thead>
            <tr>
              <th>Device:</th>
              <th>Mnt:</th>
              <th>Total:</th>
              <th>Free:</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>              
      </div>
        <div class="col-md-6">
      <div class="processes" style="height:300px;overflow-y:scroll">
          <div style="color: #F7973D">
            <b>Services</b>
          </div>
        <table class="stats table-striped">
          <thead>
            <tr>
              <th>Name:</th>
              <th>Cmd:</th>
              <th>Status:</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>          
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
      <div class="es_stats">
          <div style="color: #F7973D">
            <b>Elastic Stats</b>
          </div>
        <table class="stats table-striped">
          <thead>
            <tr>
              <th>Cluster Name:</th>
              <th>Status:</th>
              <th>Indices:</th>
              <th>Doc Count:</th>
              <th>Nodes:</th>
              <th>Endpoints:</th>
              <th>Cases:</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <br>

         <div class="upload_stats" style="height:300px;overflow-y:scroll">
          <div style="color: #F7973D">
            <b>Upload Logs</b>
          </div>
        <table class="stats table-striped">
          <thead>
            <tr>
              <th>Time:</th>
              <th>Level:</th>
              <th>Message:</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>  
        </div>
    </div>
</div>
</body>

<script>
	function WebSocketPlatform()
{
  if ("WebSocket" in window)
  {
   console.log("WebSocket is supported by your Browser!");

           // Let us open a web socket
           var ws = new WebSocket("wss://" + window.location.host + "/ws/platform?subscribe-broadcast");
           var heartbeat_msg = '--heartbeat--', heartbeat_interval = null, missed_heartbeats = 0;

           ws.onopen = function()
           {
              // Web Socket is connected, send data using send()
              //ws.send("hello2");
              console.log("[!] WebSocket handshake complete, inside secure socket");
              if (heartbeat_interval === null) {
                missed_heartbeats = 0;
                heartbeat_interval = setInterval(function() {
                    try {
                        missed_heartbeats++;
                        if (missed_heartbeats >= 3)
                            throw new Error("Too many missed heartbeats.");
                        ws.send(heartbeat_msg);
                        //console.log('[!] Sent heartbeat: '+heartbeat_msg)
                    } catch(e) {
                        clearInterval(heartbeat_interval);
                        heartbeat_interval = null;
                        console.warn("Closing connection. Reason: " + e.message);
                        ws.close();
                    }
                }, 5000);
              }
          };

          ws.onmessage = function (evt) 
          { 

             var received_msg = evt.data;
             if (evt.data === heartbeat_msg) {
               missed_heartbeats = 0;
               return;
           }

        var stats = JSON.parse(received_msg);

        $('.es_stats table.stats tbody').empty();

        switch (stats.es_stats.status) {
          case "green":
            var status = "<td class='service_highlight'>" + 
                          stats.es_stats.status + "</td>"
            break;

          case "yellow": 
            var status = "<td style='color:yellow'>" + 
                          stats.es_stats.status + "</td>"
            break;    

          case "red": 
            var status = "<td style='color:red'>" + 
                          stats.es_stats.status + "</td>"
            break;                  
        };

        $('.es_stats table.stats tbody').append(
            "<tr><td>" + stats.es_stats.cluster_name + "</td>" + 
            status + 
            "<td>" + stats.es_stats.indices + "</td>" + 
            "<td>" + stats.es_stats.docs + "</td>" +
            "<td>" + stats.es_stats.nodes.count.total + "</td>" + 
            "<td>" + stats.es_stats.endpoints + "</td>" +
            "<td>" + stats.es_stats.cases + "</td></tr>"
          );  

        $('.memstats_stats table.stats tbody').empty();

       	$('.memstats_stats table.stats tbody').append(
        		"<tr><td>" + stats.mem.available + "</td>" + 
        		"<td>" + stats.mem.total + "</td>" + 
        		"<td>" + stats.mem.used + "</td>" + 
        		"<td>" + stats.mem.free + "</td></tr>"
       		); 	

        $('.disk_stats table.stats tbody').empty();

        stats.disk.forEach(function (value, index, array){

	        $('.disk_stats table.stats tbody').append(
        		"<tr><td>" + stats.disk[index].device + "</td>" + 
        		"<td>" + stats.disk[index].mountpoint + "</td>" + 
        		"<td>" + stats.disk[index].usage.total + "</td>" + 
        		"<td>" + stats.disk[index].usage.free + "</td></tr>")	
        });

        $('.cpu_stats table.stats tbody').empty();

        stats.cpu.forEach(function (value, index, array){
        	$('.cpu_stats table.stats tbody').append(
        		"<tr><td>" + index + "</td>" + 
        		"<td>" + value[0] + "</td>" + 
        		"<td>" + value[2] + "</td>" + 
        		"<td>" + value[3] + "</td></tr>"
        		)
        });

        $('.processes table.stats tbody').empty();

        stats.processes.forEach(function (value, index, array) {
          switch (value.service.name) {
            case 'uwsgi':
              $('.processes table.stats tbody').append(
              "<tr><td class='service_highlight'>" + stats.processes[index].service.name + "</td>" + 
              "<td>" + stats.processes[index].service.cmdline[2] + "</td>" + 
              "<td>" + stats.processes[index].service.status + "</td></tr>"
              );
              break;

            case 'nginx':
            $('.processes table.stats tbody').append(
              "<tr><td class='service_highlight'>" + stats.processes[index].service.name + "</td>" + 
              "<td>" + stats.processes[index].service.cmdline[0] + "</td>" + 
              "<td>" + stats.processes[index].service.status + "</td></tr>"
              );
              break;

            default: 
              $('.processes table.stats tbody').append(
              "<tr><td class='service_highlight'>" + stats.processes[index].service.name + "</td>" + 
              "<td>" + stats.processes[index].service.cmdline[1] + "</td>" + 
              "<td>" + stats.processes[index].service.status + "</td></tr>"
              );            
          }

        })
        
    };
    ws.onerror = function(evt) {
       console.log('Error: '+evt);
   }
   ws.onclose = function(evt)
   { 
              // websocket is closed.
              console.log("Connection is closed: "+evt.code); 
          };
      }

      else
      {
           // The browser doesn't support WebSocket
           console.log("WebSocket NOT supported by your Browser!");
       }
   }

   WebSocketPlatform(); 

function WebSocketUpload()
{
  if ("WebSocket" in window)
  {
   console.log("WebSocket is supported by your Browser!");

           var ws = new WebSocket("wss://" + window.location.host + "/ws/uploadstatus?subscribe-broadcast");
           var heartbeat_msg = '--heartbeat--', heartbeat_interval = null, missed_heartbeats = 0;

           ws.onopen = function()
           {
              console.log("[!] WebSocket handshake complete, inside secure socket");
              if (heartbeat_interval === null) {
                missed_heartbeats = 0;
                heartbeat_interval = setInterval(function() {
                    try {
                        missed_heartbeats++;
                        if (missed_heartbeats >= 3)
                            throw new Error("Too many missed heartbeats.");
                        ws.send(heartbeat_msg);
                    } catch(e) {
                        clearInterval(heartbeat_interval);
                        heartbeat_interval = null;
                        console.warn("Closing connection. Reason: " + e.message);
                        ws.close();
                    }
                }, 5000);
              }
          };

          ws.onmessage = function (evt) 
          { 

             var received_msg = evt.data;
             if (evt.data === heartbeat_msg) {
               missed_heartbeats = 0;
               return;
           }

        upload_alert = JSON.parse(received_msg);
        
        switch (upload_alert.Level) {
          case 'DEBUG': $('.upload_stats table.stats tbody').append(
              "<tr><td>" + upload_alert.Time + "</td>" + 
              "<td style='color:yellow'>" + upload_alert.Level + "</td>" + 
              "<td>" + upload_alert.Message + "</td></tr>"
            );
            break;
          case 'ERROR': $('.upload_stats table.stats tbody').append(
              "<tr><td>" + upload_alert.Time + "</td>" + 
              "<td style='color:red'>" + upload_alert.Level + "</td>" + 
              "<td>" + upload_alert.Message + "</td></tr>"
            );
            break;
          default: $('.upload_stats table.stats tbody').append(
              "<tr><td>" + upload_alert.Time + "</td>" + 
              "<td>" + upload_alert.Level + "</td>" + 
              "<td>" + upload_alert.Message + "</td></tr>"
            );
        }
    };
    ws.onerror = function(evt) {
       console.log('Error: '+evt);
   }
   ws.onclose = function(evt)
   { 
              console.log("Connection is closed: "+evt.code); 
          };
      }

      else
      {
           console.log("WebSocket NOT supported by your Browser!");
       }
   }

   WebSocketUpload(); 
</script>