<!DOCTYPE html>
{% include 'cssbase.html' %}
{% include 'scripts.html' %}
{% include 'dtinclude.html' %}
{% load staticfiles %}

{% block css %}{% endblock %}
{% block scripts %}{% endblock %}
{% block dtinclude %}{% endblock %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="brsapp"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>nightHawk: Stack Framework</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>
<body>
	<div id="fullsize">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <div class="notifications">

            </div>
            <header>
              <nav class="navbar navbar-default">

                <div class="navbar-header">
                 <a class="navbar-brand large" href="/"><b>{{name}}</b>: <span class="function">{{stack}} </span> {{stack_ver}}</a>
               </div>
              {% include 'header.html' %}
            </nav>
          </header>
          <div class="maincontainer">
            <div class="col-md-2 treecol">
              <div ng-controller="stackTreeController">
                <jstree
                  dataurl="dataurl"
                  selectnode="selectnode"
                  types="types"
                  plugins="plugins">
                </jstree>
            </div>
        </div>
            <div class="col-md-10 maincol">
                <div class="stack_inst">
                    <h5>Stacking framework enables you to select multiple endpoints and stack on a given audit type.</h5>
                    <p><span><button type="submit" class="btn btn-default submit">Submit</button></span>
                        <span><img class="loader" src="/static/images/loader.gif" style="display: none"></span></p>
                </div>
                <div class="stack_data" style="display: none">
                    <table id="stack_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Attributes</th>
                                <th>Doc Count</th>
                                <th>Endpoints</th>
                                <th>Endpoint Count</th>
                                <th>Audit Type</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </body>

    {% include 'tasksocket.html' %}
    <script>
	
    function isInArray(value, array) {
        return array.indexOf(value) > -1;
    }

    function isInDict(value, dict) {
        for (v in dict) {
            if (dict[v] == value) {
                return true;
            }
        }
    }
 
    $.ajaxSetup({beforeSend: function(xhr, settings){
        xhr.setRequestHeader('X-CSRFToken', 
                             '{{ csrf_token }}');
      }});

    $(".submit").click(function(){
        var maincol = parseInt($('.maincol').height())
        var stackin = parseInt($('.stack_inst').height())
        var setheight = maincol - stackin - 220
        var data = localStorage.getItem('stack_data')

        $(".loader").show()
        $.ajax({
            type: "POST",
            url: "{% url 'stack_framework' %}",
            contentType: 'application/json; charset=utf-8',
            data: data,
            success: function(result){
                $("#stack_table").dataTable({
                    bDestroy: true,
                    data: result,
                    columns: [
                        { data: "attribute" },
                        { data: "doc_count" },
                        { data: "endpoints" },
                        { data: "endpoint_count" },
                        { data: "audittype" }
                    ],
                    order: [[
                            1, 'asc'
                        ]],
                    scrollY: String(setheight) + 'px',
                    scrollX: '100%',
                    iDisplayLength: 200,
                    fnDrawCallback: function (oSettings, json) {
                        $(".loader").hide()
                        $(".stack_data").show();
                    }
                })               
            }
        });
    });

    var toggle = [];

    $("#menuhide").click(function(){
        if (!isInArray('on', toggle)) {
            $(".treecol").slideToggle('fast', function(){
                $(".maincol").toggleClass('maincolexpand')
                toggle.push('on');
            })
        }
        else {
            $(".maincol").toggleClass('maincolexpand', function(){
                $(".treecol").slideToggle('fast');
                toggle.splice(0, 1)
            });
        }
    })

    $("button[title]").qtip({
        style: {
            classes: 'qtip-tipsy'
        }
    });
    </script>
    </html>