<div class="uploads">

    <div class="row bordered">
        <div class="col-md-4">
            <h4>
                <center>To begin an investigation, please select a .zip(s) file for processing. <br>
                    <br>

                        <span class="glyphicon glyphicon-upload" aria-hidden="true" style="font-size:80px"></span>
                    <br>
                    
                </center>
            </h4>
        </div>

        <div class="col-md-4">
            <div class="upload_form">
                <div class="upload_form_inner">
                    <form method="post" action="upload/" enctype="multipart/form-data">
                        <table class="upload_form_tbl">
                            <tbody>
                                {{UploadForm.as_table}}
                            </tbody>
                        </table>
                        {% csrf_token %}

                        <input type="submit" value="Upload">
                    </form>
                    <br>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    
                    <h5>
                        <span style="color: #F7973D">Uploading: </span><br><br>
                        If supplying a casename, the only accepted special characters are '-' or '_'<br><br>
                         <span style="color: #F7973D">Sequential uploading:</span> <br>Choose your files to upload and turn off concurrent uploads.
                        <br><br>
                         <span style="color: #F7973D">Concurrent uploading (**EXPERIMENTAL**):</span> 
                        <br>Choosing concurrent processing limits 5 files (configurable) in batch. 
                        If this option is not selected, processing is
                        sequential and there are no limits. <br><br>
                        
                    </h5>
                    <h5>
                        <span style="color: #F7973D">To view ingest logs goto <a href="#PlatformStats">Platform Stats.</a></span>
                    </h5>
                        
            </div>
        </div>
        <div class="row bordered">
            <div class="col-md-4">
            <h4>
                <center>To delete a case or endpoint use the selector. <br>
                    <br>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size:80px"></span>

                </center>
            </h4>
            </div>
            <div class="col-md-4">
               <div class="delete_form" ng-controller="deleteController">
                    <div class="delete_form_inner">
                        <ul>
                            {{DeleteCase.as_ul}}
                        </ul>
                        <span class="input_hide"><input type="submit" value="Delete Case" ng-click="postDelete(selected)"></span>
                        <span class="loader">Delete in progress.. Please Wait</span>
                        <br>
                    </div>
                    <div class="delete_form_inner">
                        <ul>
                            {{DeleteEndpoint.as_ul}}
                        </ul>
                        <span class="input_hide"><input type="submit" value="Delete Endpoint" ng-click="postDelete(selected)"></span>
                        <span class="loader">Delete in progress.. Please Wait</span>
                        <br><br>
                        <label for="">Delete Single Endpoint from case:</label><br>

                        <span class="input_hide"><input type="submit" value="Delete Singluar" ng-click="postDelete(selected)"></span>
                        <span class="loader">Delete in progress.. Please Wait</span>
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <h5>
                <span style="color: #F7973D">The delete API works on single request and joined requests.</span>
            </h5>
            <h5>
                If you need to delete a whole case select that case and leave the endpoint selector empty.
            </h5>
            <br>
            <h5>
                If you need to delete an endpoint only (will delete all aspects in any case it resides in)
                select that endpoint and leave the case selector empty.
            </h5>
            <br>
            <h5>
                If you need to delete a specific endpoint from a specific case, select them both and hit delete single.
            </h5>
        </div>
    </div>
</div>
