# This service will start all nighthawk services

[Unit]
Description=nighthawkResponse
Documentation=https://github.com/biggieSmallsAG/nightHawkResponse

Requires=nighthawk-api.service nighthawk-logger.service nighthawk-worker.service 
[Service]
Type=oneshort

ExecStart=/bin/true

RemainAfterExit=yes

StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
