@font-face {

	font-family: Panpro;
	src: url(../core/panpro.ttf);

}

html,body {
	margin:0; 
	padding:0; 
	height:100%;
	color: #4AAAC4 !important;
}

#fullsize {
	height:100%;
	width:100%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	background-color: #222;
	font-size: 9pt;
	letter-spacing: 0px;
}

header {
	height: 60px;
	position: relative;
	/*padding: 10px;*/
}

* {
	box-sizing: border-box;
}

.navbar-default {
	background-color: #222 !important;
	border: 0px #235460 solid !important;
}

.navbar-header {
	position: absolute;
	top: -15px;
	/*left: 10px;*/
	/*border-bottom: #2C2A2A solid 2px;*/
}

.large {
	font-size: 18pt !important; 
}

.small {
	font-size: 12pt !important;
}

.navbar-right {
	position: absolute;
	top: -20px;
	right: 10px;
/*	border-left: #2C2A2A solid 2px;
	border-bottom: #2C2A2A dotted 2px;
	background-color: rgba(44, 42, 42, 0.62);
	border-radius: 5px 15px;*/
}

.navbar-center {
	margin: 0 auto;
	width: 460px;
	border-right: #2C2A2A solid 2px;
	border-bottom: #2C2A2A solid 2px;
	border-radius: 15px 0px;
}

.navbar-center li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  /*float: left;*/
}
.navbar-default .navbar-brand {
	font-family: Panpro;
	color: #4AAAC4 !important;
	line-height: 30px !important;
}

.maincontainer {
	height: 100%;
	margin-top: -60px;
	padding-top : 60px;
}

.btn-default {
	color: #F7973D !important;
	background-color: #222 !important;
	border-color: #303E43 !important;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
	border: 1px solid rgba(74, 170, 196, 0.16) !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #2C2A2A !important;
}

table.stats td, th {
	margin: 10px;
	padding: 0;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	padding-right: 15px !important;
}

table.task_table td.tasklist, th.tasks {
	padding-left: 5px !important; 
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-right: 15px !important;
	font-size: 10pt;
}

table.task_table td.completed, th.tasks_completed {
	text-align: center;
	color: #F7973D;
}

td {
	cursor: pointer !important;
}

li {
	list-style: none;
}

ol, ul {
	padding: 0px !important;
}

.row {
	margin-top: 10px !important;
}

.dataTables_filter input[type="search"] {
	border: 1px solid #4AAAC4 !important;
	border-radius: 3px !important;
}

.dataTables_wrapper {
	/*border: 1px solid #DDDDDD;*/
	padding: 0rem 0 !important; 
}

.form-control {
	color: #F7973D !important;
	background-color: #222 !important;
}

.pagination > li > a, .pagination > li > span {
	color: #F7973D !important;
	background-color: #222 !important;
	border: 1px solid #28373c !important;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
	color: RGB(247, 151, 61) !important;
	background-color: #2C2A2A !important;
	border-color: #28373c !important;
}

label {
	color: #F7973D !important;
}

em {
	background-color: rgba(247, 151, 61, 0.35);
}

.platform_stats {
	font-size: 10pt;
	width: 100%;
	position: relative;
}

.stats {
	border: #2C2A2A solid 2px;
}

.notifications {
	background: #222; 
	position: absolute; 
	right: 20%; 
	z-index: 2; 
	border-bottom: 1px solid #28373c;
	border-radius: 3px;
	font-size: 10pt;
}

.comment, .tasks {
	color: #F7973D !important;
}

.task_done {
	text-decoration: line-through;
	color: red;
}

table.task_form td {
	padding: 10px;
}

table.upload_form_tbl td {
	padding: 10px;
}

table.delete_form_tbl td {
	padding: 10px;
}

table.delete_case_tbl td {
	padding: 10px;
}

.clear_completed {
	padding-left: 10px;
}

.alert {
	color: red;
}

.treecol {
	height: 100%;
	width: 16.666667% !important;
	background-color: #222;
	/*border-radius: 10px;*/
	border-left: #2C2A2A solid 2px;
	overflow-y: scroll;
	overflow-x: scroll;
}

.midcol {
	padding-left: 1px !important
}

.maincol {
	height: 100%;
	overflow-y: scroll;
}

.maincolexpand {
	width: 100% !important;
}

.dataTable {
	overflow: hidden; /* this is what fixes the expansion */
	text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
	white-space: nowrap;
}

.updatedoc {
	background-color: #222 ;
	font-size: 8pt;
	color: #F7973D;
	padding: 5%;
}

.buttonside button {
	margin-bottom: 3%
}

.endpoint_name {
	color: #F7973D;
}

.case_name {
	color: #F7973D;
}

.service_highlight {
	color: rgb(98, 247, 61);
}

.loader {
	display: none;
}

.doc_dialog {
	background-color: rgba(255, 255, 255, 0.99) ;
	font-size: 8pt;
	color: #1F1E22;
	padding: 5%;
}

.upload_form {
	border-left: #2C2A2A solid 2px;
	border-bottom: #2C2A2A solid 2px;
	border-radius: 0px 15px;
}

.upload_form_inner {
	margin: 5%
}

.tasks {
	border-left: #2C2A2A solid 2px;
	border-bottom: #2C2A2A solid 2px;
	border-radius: 0px 15px;
}

.tasks_inner {
	margin: 5%
}

.delete_form {
	border-bottom: #2C2A2A solid 2px;
	border-left: #2C2A2A solid 2px;
	border-radius: 0px 15px;
}

.delete_form_inner {
	margin: 5%
}

.bordered {
	border-top: #2C2A2A solid 2px;
}

.ngdialog.ngdialog-theme-default.custom-width-800 .ngdialog-content {
	width: 400px;
}

input.ng-invalid {
	border: 1px solid #BE2327
}

select.ng-invalid {
	border: 1px solid #BE2327
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; /* aspect ratio */
	vertical-align: top;
	overflow: hidden;
}

.svg-content-responsive {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}

div.tooltip {
	position: absolute;
	text-align: left;
	width: 230px;
	/*height: 80px;*/
	/*padding: 2px;*/
	font: 12px;
	background: #2C2A2A;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.function {
	color: #F7973D;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: #BE2327;
	stroke-width: 3px;
}

.node text {
	fill: #F7973D;
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #4AAAC4;
	stroke-width: 2px;
}