<!DOCTYPE html>
{% load staticfiles %}
{% include 'cssbase.html' %}
{% include 'scripts.html' %}
{% load staticfiles %}

{% block css %}{% endblock %}
{% block scripts %}{% endblock %}

<!-- 
  1. set header pixel high consistent
  2. treecol 100% height
  3. navbar absolute login/logo - list position margin 0 auto
  4. padding minus header hight
  5. 100% container hight
 -->

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="brsapp"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>nightHawk: Forensic Framework</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>
<body>
	<div id="fullsize">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <div class="notifications">

            </div>
            <header>
              <nav class="navbar navbar-default">

                <div class="navbar-header">
                 <a class="navbar-brand large" href="/"><b>{{name}}</b>: <span class="function">Response </span> {{version}}</a>
               </div>
                {% include 'header.html' %}
            </nav>
          </header>
          <div class="maincontainer">
            <div class="col-md-2 treecol">
              <div ng-controller="mainTreeController">
                <jstree
                  dataurl="dataurl"
                  dataurlaudit="dataurlaudit"
                  selectnode="selectnode"
                  types="types"
                  plugins="plugins">
                </jstree>
            </div>
          </div>
          <div class="col-md-10 maincol">
           <div ng-view></div>
         </div>
       </div>
     </div>
   </body>
   </html>
   {% include 'tasksocket.html' %}
   {% include 'commentsocket.html' %}
    <script>

    function isInArray(value, array) {
        return array.indexOf(value) > -1;
    };

    var toggle = [];

    $("#menuhide").click(function(){
        if (!isInArray('on', toggle)) {
            $(".treecol").slideToggle('fast', function(){
                $(".maincol").toggleClass('maincolexpand')
                toggle.push('on');
            })
        }
        else {
            $(".maincol").toggleClass('maincolexpand', function(){
                $(".treecol").slideToggle('fast');
                toggle.splice(0, 1)
            });
        }
    })

	$("button[title]").qtip({
		style: {
			classes: 'qtip-tipsy'
		}
	});

    </script>
