{% load staticfiles %}
{% block scripts %}
<script type="text/javascript" src="{% static 'core/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/jquery-ui-1.11.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/jquery.qtip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/d3.v3.min.js' %}"></script>

<script type="text/javascript" src="{% static 'core/angular1.5.2.js' %}"></script>
<script type="text/javascript" src="{% static 'core/angular-cookies.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/angular-routes1.4.5.js' %}"></script>
<script type="text/javascript" src="{% static 'core/angular-resources1.4.5.js' %}"></script>
<script type="text/javascript" src="{% static 'core/angular-datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/json-formatter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/vendor/datatables-colreorder/js/dataTables.colReorder.js' %}"></script>
<script text="text/javascript" src="{% static 'core/angular-datatables.colreorder.min.js' %}"></script>
<script text="text/javascript" src="{% static 'core/angular-datatables.bootstrap.min.js' %}"></script>
<script text="text/javascript" src="{% static 'core/angular-datatables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/vendor/datatables-columnfilter/js/dataTables.columnFilter.js' %}"></script>
<script text="text/javascript" src="{% static 'core/angular-datatables.columnfilter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/vendor/datatables-buttons/js/dataTables.buttons.js' %}"></script>
<script type="text/javascript" src="{% static 'core/vendor/datatables-buttons/js/buttons.bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'core/vendor/datatables-buttons/js/buttons.jqueryui.js' %}"></script>
<script type="text/javascript" src="{% static 'core/vendor/datatables-buttons/js/buttons.colVis.js' %}"></script>
<script type="text/javascript" src="{% static 'core/vendor/datatables-buttons/js/buttons.flash.js' %}"></script>
<script type="text/javascript" src="{% static 'core/vendor/datatables-buttons/js/buttons.html5.js' %}"></script>
<script type="text/javascript" src="{% static 'core/vendor/datatables-buttons/js/buttons.print.js' %}"></script>

<script type="text/javascript" src="{% static 'core/bootstrap-3.3.6.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'core/jstree.js' %}"></script>

<script type="text/javascript" src="{% static 'nhapp/nhapp.js' %}"></script>
<script type="text/javascript" src="{% static 'nhapp/directives/nhappdirectives.js' %}"></script>
<script type="text/javascript" src="{% static 'nhapp/apicontrollers/getController.js' %}"></script>
<script type="text/javascript" src="{% static 'nhapp/apicontrollers/postController.js' %}"></script>
<script type="text/javascript" src="{% static 'nhapp/apiServices/getApi.js' %}"></script>
<script type="text/javascript" src="{% static 'nhapp/apiServices/postApi.js' %}"></script>
{% endblock %}