<script>
function WebSocketTasks()
{
  if ("WebSocket" in window)
  {
   console.log("WebSocket is supported by your Browser!");

           var ws = new WebSocket("wss://" + window.location.host + "/ws/tasks?subscribe-broadcast");
           var heartbeat_msg = '--heartbeat--', heartbeat_interval = null, missed_heartbeats = 0;

           ws.onopen = function()
           {
              console.log("[!] WebSocket handshake complete, inside secure socket");
              if (heartbeat_interval === null) {
                missed_heartbeats = 0;
                heartbeat_interval = setInterval(function() {
                    try {
                        missed_heartbeats++;
                        if (missed_heartbeats >= 3)
                            throw new Error("Too many missed heartbeats.");
                        ws.send(heartbeat_msg);
                    } catch(e) {
                        clearInterval(heartbeat_interval);
                        heartbeat_interval = null;
                        console.warn("Closing connection. Reason: " + e.message);
                        ws.close();
                    }
                }, 5000);
              }
          };

          ws.onmessage = function (evt) 
          { 

             var received_msg = evt.data;
             if (evt.data === heartbeat_msg) {
               missed_heartbeats = 0;
               return;
           }

        tasks_alert = JSON.parse(received_msg);
        
        var current_user = '{{user}}'
        if (current_user === tasks_alert.user) {
            $('.notifications').html(
                "<span class='comment' style='color:red'>Alert: </span>You have a new Task !<br>" + 
                "<span class='comment'>Assigned By: </span>" + tasks_alert.assigned_by + "<br>" +
                "<span class='comment'>Task: </span>" + tasks_alert.task + "<br>" + 
                "<span class='comment'>Urgency: </span>" + tasks_alert.urgency + "<br>"
                )

            $(".notifications").css("top", -$(".notifications").height());
            
            $(".notifications").animate({top: 0}, 200);
            
            setTimeout(function(){
                $(".notifications").animate({top: -200}, 200);
            }, 20000)            
        }
    };
    ws.onerror = function(evt) {
       console.log('Error: '+evt);
   }
   ws.onclose = function(evt)
   { 
              console.log("Connection is closed: "+evt.code); 
          };
      }

      else
      {
           console.log("WebSocket NOT supported by your Browser!");
       }
   }

   WebSocketTasks(); 
   </script>